{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2 class="mb-4">Formulario de editar Comercial </h2>
        
       
        
        <div class="mb-3">
            {{ form_label(form.fechaVenta, 'fechaVenta', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.fechaVenta, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.fechaVenta) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.vendido, 'vendido', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.vendido, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.vendido) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.precioFinal, 'precioFinal', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.precioFinal, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.precioFinal) }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar Comercial</button>
        
        
    </div>
{% endblock %}